.ristek-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: calc(100vh);
    background-image: url("./../../../../Assets/Divisi/Ristek/desk_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    margin-top: 13px
}

.logo-container-ristek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
}

.desc-ristek {
    flex: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 70px;
}

.desc-ristek h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    margin: 0 0 29px 0;

    text-shadow: 7px 4px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.desc-ristek p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    width: 85%;
}

.staff-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 0 0;
}

.staff-header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    padding-bottom: 14px;

    text-shadow: 7px 4px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.staff {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../../../../Assets/Divisi/Edukasi/Pattern.svg')
}

.ristek-anggota {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    gap: 80px 120px;
    padding: 76px 116px 160px 106px;
}

.anggota-divisi:first-child {
    grid-column: span 3;
}

.anggota-divisi:last-child {
    grid-column: span 3;
}


.program-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0 40px 0;
}

.program-header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    padding-bottom: 14px;


    text-shadow: 7px 4px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.program-header img {
    width: 572px;
}

.ristek-accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14rem;
}

.ristek-accordion-wrapper {
    background-color: #FFFFFF;
    width: 1065px;
    border: 2px solid #040404;
    border-radius: 8px;
}

.ristek-proker-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    cursor: pointer;
    border-bottom: 2px solid #040404;
}

.ristek-proker-title.active {
    background-color: #E9AD33;
}

.ristek-proker-title h2 {
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.ristek-proker-title:hover {
    background-color: #E9AD33;
    transition: .4s;
}

.ristek-proker-desc {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #040404;
    transition: 0.05s;
}

.ristek-proker-desc.show {
    height: auto;
    max-height: 99999px;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0, 1, 0, 1);
    padding: 20px 24px;
}

.ristek-proker-desc p {
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

@media(max-width: 1024px) {
    .ristek-container {
        height: 100vh;
    }

    .desc-ristek h2 {
        font-size: 42px;
        text-shadow: 4px 3px 0px #040404;
    }

    .ristek-anggota {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .anggota-divisi img {
        height: 380px;
    }

    .anggota-divisi:first-child {
        grid-column: span 2;
    }

    .anggota-divisi:last-child {
        grid-column: span 2;
    }

    .ristek-accordion-wrapper {
        margin: 0 40px 0 40px;
        width: auto;
    }
}

@media(max-width: 768px) {

    .ristek-container {
        background-image: url("../../../../Assets/Divisi/Ristek/Ristek Mobile Bg.svg");
        background-size: cover;
        height: calc(60rem);
    }

    .desc-ristek {
        flex: auto;
        align-items: center;
        transform: translateY(10rem);
    }

    .logo-container-ristek {
        display: none;
    }

    .desc-ristek h2 {
        display: none;
    }

    .desc-ristek p {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }

    .ristek-anggota {
        gap: 40px 10px;
    }

    .anggota-divisi img {
        height: calc(300.75px);
    }

    .ristek-accordion-wrapper {
        width: 688px;
    }
}