.navbar {
    font-family: Changa One;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E49800;
}

.navbar-heading {
    display: flex;
    margin: 25px 80px 25px 80px;
}


.navbar-list {
    margin: 25px 80px 25px 80px;
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.navbar-list li {
    font-size: 14px;
    list-style: none;
}