li {
    cursor: default;
}

.navbar {
    font-family: Changa One;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E49800;
    border-bottom: 4px solid #040404;
    z-index: 7;
}

.navbar-heading {
    display: block;
    margin: 25px 80px 25px 80px;
}

.navbar-burger {
    display: none;
}

.navbar-cross {
    display: none;
}

.navbar-list {
    margin: 25px 80px 25px 80px;
    display: flex;
    align-items: center;
    gap: 40px;

}

.navbar-list li {
    font-size: 18px;
    list-style: none;
    letter-spacing: 0.1px;
    width: max-content;
}

.navbar-list li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    letter-spacing: 0.1px;
}

.navbar-list li:hover a {
    font-family: 'Changa One';
    font-style: italic;
    font-weight: 350;
    font-size: 28px;
    line-height: 36px;
    color: #F0E4D4;
    text-shadow: 2.5px 1.5px 0px #040404;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #040404;
}

.navbar-list li:hover {
    font-family: 'Changa One';
    font-style: italic;
    font-weight: 350;
    font-size: 28px;
    line-height: 36px;
    color: #F0E4D4;
    text-shadow: 2.5px 1.5px 0px #040404;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #040404;
}

.sub-menu-1 {
    display: none;
    width: 330px;
    height: 110px;
}

.profil-dropdown:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #E49800;
    padding: 10px;
    border-bottom: 4px solid #111827;
}

.divisi-dropdown li {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    letter-spacing: 0.1px;
}

.sub-menu-1 li {
    padding: 0 0 22px 28px;
}

.sub-menu-2 {
    display: none;
}

.divisi-dropdown:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background-color: #E49800;
    padding: 10px;
    border-bottom: 4px solid #111827;
    width: 320px;
    height: 404px;
}

.sub-menu-2 li {
    padding: 0 0 22px 28px;
}

.mobile-navbar-container{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .navbar-list li a {
        font-size: 16px;
    }

}

@media(min-width: 993px){
    #navcross {
        display: none;
    }
}

@media(max-width: 992px) {
    .navbar-list {
        display: none;
    }

    .navbar-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 40px 0 0;
    }

    .burger {
        cursor: pointer;
        width: 35px;
        height: 4px;
        margin: 3px;
        background: #FCFCFC;
        border-radius: 2px;
    }

    .mobile-navbar-container {
        display: block;
        padding: 20px 0 20px 0;
        background-color: #E49800;
        border-bottom: 4px solid #040404;
    }

    .mobile-navbar li {
        display: flex;
        padding: 15px 0 15px 0;
        justify-content: center;
        list-style: none;
    }

    .mobile-navbar li a {
        font-family: Changa One;
        font-weight: 350;
        font-size: 18px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        letter-spacing: 0.1px;
    }

    .mobile-navbar li a:hover {
        text-decoration: none;
        font-family: 'Changa One';
        font-style: italic;
        font-weight: 350;
        font-size: 28px;
        line-height: 36px;
        color: #F0E4D4;
        text-shadow: 2.5px 1.5px 0px #040404;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #040404;
        transition: 0.3s;

    }
}