#Agribot-header-container {
    background-image: url('../../../Assets/Ilkommunity/Agribot/bg-agribot.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 640px;
    margin-top: .8rem;
    justify-content: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.Agribot-header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 15.81rem;
}

.Agribot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 377px;
    height: 208px;
}

.Agribot-header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.Agribot-header p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#Agribot-main-container {
    background-image: url('./../../../Assets/Background/pattern-top.svg'), url('./../../../Assets/Background/pattern-bottom.svg');
    background-size: contain;
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    padding: 80px 0 0 0;
}

.Agribot-content-deskripsi-tujuan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.Agribot-content-deskripsi-tujuan #Agribot-deskripsi {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

#Agribot-deskripsi.Agribot-active {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    border-bottom: 4px solid black;
    cursor: pointer;
    padding-bottom: 4px;
}

#Agribot-tujuan {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

#Agribot-tujuan.Agribot-active {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    border-bottom: 4px solid black;
    cursor: pointer;
    padding-bottom: 4px;
}

.Agribot-content-deskripsi-tujuan {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

.Agribot-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Agribot-deskripsi-content, .Agribot-tujuan-content{
    max-width: 1057px;
    width: 90%;
    height: auto;
}

.Agribot-deskripsi-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9AD33;
    border: 4px solid #16052B;
    box-shadow: 7px 7px 0px #000000;
    margin: 32px 0 0 0;
    padding: 40px 40px 40px 44px;
    margin-left: auto;
    margin-right: auto;
}


.Agribot-deskripsi-content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.Agribot-tujuan-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E9AD33;
    border: 4px solid #16052B;
    box-shadow: 7px 7px 0px #000000;
    margin: 32px 32px 0 32px;
    padding: 40px 44px 40px 44px;
    list-style-type: none;
}

.Agribot-tujuan-content li::before {
    content: "-";
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.Agribot-tujuan-content li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.Agribot-prestasi-container {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Agribot-prestasi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    width: 1060px;
    height: 100%;
    border: 3px solid #16052B;
    box-shadow: 3px 4px 0px #000000;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 45px 45px 45px 45px;
}

.Agribot-prestasi-content li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.Agribot-prestasi-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 52px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 4px 4px 0px #000000;
    transform: translateY(25px);
}

.Agribot-prestasi-header h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}


.Agribot-narahubung-container {
    padding: 80px 0 160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Agribot-narahubung-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    max-width: 1060px;
    width: 90%;
    height: 174px;
    border: 3px solid #16052B;
    box-shadow: 3px 4px 0px #000000;
    background-color: #FFFFFF;

}

.Agribot-narahubung-content h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.Agribot-narahubung-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 52px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 4px 4px 0px #000000;
    transform: translateY(25px);
}

.Agribot-narahubung-header h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

@media(max-width: 1024px) {

    .Agribot-header {
        width: auto;
        height: auto;
    }

    .Agribot-header-wrapper{
        column-gap: normal;
    }

    .Agribot-header p {
        font-size: large;
        width: 401px;
    }

    .Agribot-deskripsi-content {
        width: 90%;
        height: 344px;
    }

    .Agribot-tujuan-content {
        width: 90%;
        height: 224px;
    }

    .Agribot-prestasi-content{
        width: 90%;
        height: 174px;
    }

    .Agribot-narahubung-content{
        width: 90%;
        height: 190px;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    #Agribot-header-container {
        width: 100%;
        max-width: 1024px;
        height: 500px;
    }
}

@media(max-width: 768px) {
    #Agribot-header-container {
        background-image: url("../../../Assets/Ilkommunity/Agribot/Agribot-Header-Background-Tab.svg");
        background-size: cover;
        justify-content: center;
        height: 521px;
        border-bottom: 4px solid #040404;
        border-top: 4px solid #040404;
    }


    .Agribot-header-wrapper {
        width: 100%;
        max-width: 670px;
    }

    .Agribot-header{
        width: 100%;
        max-width: 377px;
    }

    .Agribot-header p{
        font-size: 16px;
        width: auto;
    }

    .Agribot-deskripsi-content {
        width: 90%;
        height: auto;
    }

    .Agribot-tujuan-content {
        width: 90%;
        height: auto;
    }

    .Agribot-prestasi-content{
        width: 90%;
        height: auto;
    }

    .Agribot-narahubung-content{
        width: 90%;
        height: 190px;
    }

}

@media (min-width: 481px) and (max-width: 767px){
    #Agribot-header-container {
        width: 100%;
        max-width: 768px;
        height: 410px;
    }

    .Agribot-header-wrapper{
        grid-template-columns: none;
    }

    .Agribot-header p{
        width: 80%;
    }
}


@media(max-width: 480px) {
    #Agribot-header-container {
        background-image: url("../../../Assets/Ilkommunity/Agribot/bg-mobile-agribot.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        height: 522px;
        border-top: 4px solid #111827;
        border-bottom: 4px solid #111827;
        align-items: unset;
    }

    #Agribot-deskripsi, #Agribot-tujuan{
        font-size: 22px;
        line-height: 28px;
        overflow-x: hidden;
    }


    .Agribot-header-wrapper {
        grid-template-columns: none;
        width: auto;   
        align-items: end;
        padding-bottom: 1.8rem;
    }

    .Agribot-header h2{
        font-size: 45px;
    }

    .Agribot-deskripsi-content {
        width: 90%;
        height: auto;
    }

    .Agribot-tujuan-content {
        width: 90%;
        height: auto;
    }

    .Agribot-prestasi-content {
        width: 90%;
        height: auto;
    }

    .Agribot-narahubung-content {
        width: 90%;
        height: 190px;
    }

    #Agribot-deskripsi.Agribot-active {
        font-size: 28px;
        text-shadow: 2px 2px 0px #040404;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #040404;
    }
    #Agribot-tujuan.Agribot-active {
        font-size: 28px;
        text-shadow: 2px 2px 0px #040404;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #040404;
    }
}