.Footer-background {
    background-color: #F3E9DD;
}

.Footer {
    font-family: montserrat;
    font-size: 14px;
    line-height: 20px;
}

.Footer-Logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding-top: 127px;
    margin: 0 343px 54px 354px;
}

.Footer-social {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 54px 0 47px 0;
}

.Footer-divider p {
    border: 1.5px dashed #9CA3AF;
    margin: 0 70px 24px 70px;
}


.Footer-address {
    display: flex;
    justify-content: space-between;
    margin: 0 62px 0 70px;
    font-size: 16px;
    line-height: 24px;

}

.Footer-copyright {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
}

@media(max-width: 768px) {
    .Footer-Logos {
        margin: 0 auto;
        padding-top: 40px;
    }

    .Footer-Logos .himalkom {
        width: 80px;
        height: 80px;
    }

    .Footer-Logos .ipb {
        order: 3;
        width: 184px;
        height: 48px;
    }

    .Footer-Logos .connect {
        order: 2;
        width: 144px;
        height: 87px;
    }

    .Footer-address {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .address {
        text-align: center;
    }

    .contact {
        padding-top: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .Footer-Logos {
        flex-direction: column;
        margin: 0 auto;
        padding-top: 40px;
    }
}