.profil-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 737px;

    background-image: url(./../../../../Assets/Divisi/HRD/hrd_background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    margin-top: 13px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
}

.info-divisi {
    flex: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-divisi h1 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    margin: 0 0 29px 0;
    letter-spacing: -2px;

    text-shadow: 3px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    
}

.info-divisi p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    width: 75%;
}

/* Staff Section */
.staff-divisi {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../../../../Assets/Background/Pattern.svg')
}


.hrd .staff-header h2 {
    padding: 0 100px 20px 100px;
    border-bottom: 8px solid  #000000;
}

.hrd-anggota{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 80px 120px;
    justify-items: center;
    padding: 76px 106px 160px 106px;
}

.anggota-hrd:first-child {
    grid-column: span 3;
}


/* Program Section */
.program-header{
    padding-top: 0px;
    
}
.hrd .program-header h2{
    padding: 0 16px 20px 16px;
    border-bottom: 8px solid  #000000;
}


