.header {
    display: flex;
    justify-content: center;
}

.header h2 {
    font-size: 32px;
    margin: 0 0 48px 0;
}

.header {
    font-family: Changa One;
    font-weight: normal;
    font-size: 36px;
}

.ilkommunity {
    display: grid;
    margin: 0 81px 64px 81px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 48px;
    justify-items: center;
}



.ilkommunity li {
    list-style: none;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 29px;
}



.ilkommunity-agriux {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-agriux img {
    margin-top: 35px;
    border: 2px solid;
    border-radius: 122px;
    width: 122px;
    height: 122px;
}

.ilkommunity-csi {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-csi img {
    margin-top: 35px;
    border-radius: 122px;
    border: 2px solid;
    width: 122px;
    height: 122px;
}

.ilkommunity-agribot {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-agribot img {
    margin-top: 35px;
    border-radius: 122px;
    border: 2px solid;
    width: 122px;
    height: 122px;
}

.ilkommunity-cp {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-cp img {
    margin-top: 35px;
    border: 2px solid;
    border-radius: 122px;
    width: 122px;
    height: 122px;
}

.ilkommunity-daming {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-daming img {
    margin-top: 35px;
    border: 2px solid;
    border-radius: 122px;
    width: 122px;
    height: 122px;
}

.ilkommunity-iwdc {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-iwdc img {
    margin-top: 35px;
    width: 122px;
    border: 2px solid;
    border-radius: 122px;
    height: 122px;
}

.ilkommunity-gary {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-gary img {
    margin-top: 35px;
    border-radius: 122px;
    border: 2px solid;
    width: 122px;
    height: 122px;
}

.ilkommunity-mad {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
}

.ilkommunity-mad img {
    border: 2px solid;
    border-radius: 122px;
    margin-top: 35px;
    width: 122px;
    height: 122px;
}