#MAD-header-container {
    background-image: url('../../../Assets/Ilkommunity/MAD/MAD-Header-Background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 640px;
    margin-top: .8rem;
    justify-content: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.MAD-header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 15.81rem;
}

.MAD-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 377px;
    height: 208px;
}

.MAD-header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.MAD-header p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#MAD-main-container {
    background-image: url('./../../../Assets/Background/pattern-top.svg'), url('./../../../Assets/Background/pattern-bottom.svg');
    background-size: contain;
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    padding: 80px 0 0 0;
}

.MAD-content-deskripsi-tujuan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.MAD-content-deskripsi-tujuan #MAD-deskripsi {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

#MAD-deskripsi.mad-active {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    border-bottom: 4px solid black;
    cursor: pointer;
    padding-bottom: 4px;
}

#MAD-tujuan {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

#MAD-tujuan.mad-active {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    border-bottom: 4px solid black;
    cursor: pointer;
    padding-bottom: 4px;
}

.MAD-content-deskripsi-tujuan {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

.MAD-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.MAD-deskripsi-content, .MAD-tujuan-content{
    max-width: 1057px;
    width: 90%;
    height: auto;
}

.MAD-deskripsi-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9AD33;
    border: 4px solid #16052B;
    box-shadow: 7px 7px 0px #000000;
    margin: 32px 32px 0 0;
    padding: 40px 44px 40px 44px;
    margin-left: auto;
    margin-right: auto;
}


.MAD-deskripsi-content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.MAD-tujuan-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9AD33;
    border: 4px solid #16052B;
    box-shadow: 7px 7px 0px #000000;
    margin: 32px 32px 0 32px;
    padding: 40px 44px 40px 44px;
}



.MAD-tujuan-content h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}



.MAD-prestasi-container {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.MAD-prestasi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    max-width: 1060px;
    width: 90%;
    height: 118px;
    border: 3px solid #16052B;
    box-shadow: 3px 4px 0px #000000;
    background-color: #FFFFFF;
}

.MAD-prestasi-content h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.MAD-prestasi-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 52px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 4px 4px 0px #000000;
    transform: translateY(25px);
}

.MAD-prestasi-header h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.MAD-narahubung-container {
    padding: 80px 0 160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.MAD-narahubung-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    max-width: 1060px;
    width: 90%;
    height: 174px;
    border: 3px solid #16052B;
    box-shadow: 3px 4px 0px #000000;
    background-color: #FFFFFF;

}

.MAD-narahubung-content h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.MAD-narahubung-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 52px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 4px 4px 0px #000000;
    transform: translateY(25px);
}

.MAD-narahubung-header h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

@media(max-width: 1024px) {

    .MAD-header {
        width: auto;
        height: auto;
    }

    .MAD-header-wrapper{
        column-gap: normal;
    }

    .MAD-header p {
        font-size: large;
        width: 401px;
    }

    .MAD-deskripsi-content {
        width: 90%;
        height: auto;
    }

    .MAD-tujuan-content {
        width: 90%;
        height: auto;

    }

    .MAD-prestasi-content{
        width: 90%;
        height: 100px;
    }

    .MAD-narahubung-content{
        width: 90%;
        height: 190px;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    #MAD-header-container {
        width: 100%;
        max-width: 1024px;
        height: 500px;
    }
}

@media(max-width: 768px) {
    #MAD-header-container {
        background-image: url("../../../Assets/Ilkommunity/MAD/MAD-Header-Background-Tab.svg");
        background-size: cover;
        justify-content: center;
        border-bottom: 4px solid #040404;
        border-top: 4px solid #040404;
        height: 521px;
    }

    .MAD-header-wrapper {
        width: 100%;
        max-width: 670px;
    }

    .MAD-header{
        width: 100%;
        max-width: 377px;
    }

    .MAD-header p{
        font-size: 16px;
        width: auto;
    }


    .MAD-deskripsi-content {
        width: 90%;
        max-width: 668px;
        height: auto;
    }

    .MAD-tujuan-content {
        width: 90%;
        max-width: 668px;
        height: auto;
    }

    .MAD-prestasi-content{
        width: 90%;
        max-width: 668px;
        height: auto;
    }

    .MAD-narahubung-content{
        width: 400px;
        height: 190px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    #MAD-header-container {
        width: 100%;
        max-width: 768px;
        height: 410px;
    }

    .MAD-header-wrapper{
        grid-template-columns: none;
    }

    .MAD-header p{
        width: 80%;
    }
}

@media screen and (max-width: 480px){
    #MAD-header-container {
        background-image: url("../../../Assets/Ilkommunity/MAD/MAD-Header-Background-Mobile.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        height: 522px;
        border-top: 4px solid #111827;
        border-bottom: 4px solid #111827;
        align-items: unset;
    }

    #MAD-deskripsi, #MAD-tujuan{
        font-size: 22px;
        line-height: 28px;
        overflow-x: hidden;
    }

    .MAD-header-wrapper {
        grid-template-columns: none;
        width: auto;   
        align-items: end;
        padding-bottom: 2.7rem;
    }

    .MAD-header h2{
        font-size: 45px;
    }

    .MAD-deskripsi-content {
        width: 90%;
        height: auto;
    }

    .MAD-tujuan-content {
        width: 90%;
        height: auto;
    }

    .MAD-prestasi-content {
        width: 90%;
        height: 114px;
    }

    .MAD-narahubung-content {
        width: 90%;
        height: 190px;
    }

    #MAD-deskripsi.mad-active {
        font-size: 28px;
        text-shadow: 2px 2px 0px #040404;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #040404;
    }
    #MAD-tujuan.mad-active {
        font-size: 28px;
        text-shadow: 2px 2px 0px #040404;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #040404;
    }
}