.Komnews-Home-Content-Card {
    display: flex;
    justify-content: center;
    background-image: url("../../Assets/Background/Komnews-Home-Card.svg");
    background-size: cover;
    background-color: #EFC166;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #000000;
    border: 2px solid #111827;
    
    padding: 17px;
    width: 413px;
    height: 376px;

    position: relative;
    cursor: pointer;
}

.newscard_img {
    object-fit: cover;
    border: 2px solid #040404;
    box-shadow: 3px 3px 0px #040404;

    width: 373px;
    max-height: 205px;
}

.Komnews-Home-Content h1 {
    font-family: Changa One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-shadow: 1px 1px 0px #040404;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #040404;
    color: #f0ebe4;
    padding-top: 0.94rem;
}

.Komnews-Home-Content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.card_date {
    position: absolute;
    left: 20px;
    bottom: 25px;

    display: flex;
    border: #000000 solid 2px;
    width: 55px;
    justify-content: center;
    padding: 5px;
    background: #F0E4D4;
    box-shadow: 1.5px 2px 0px #000000;
}

.card_date p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    .Komnews-Home-Content-Card {
        width: 690px;
        height: 628.18px;
    }

    .Komnews-Home-Content-Card img {
        width: 623px;
        height: 342px;
        max-height: 441.065px;
    }

    .Komnews-Home-Content-Card h2 {
        text-shadow: 1.6707020998001099px 3.3414041996002197px 0px 0px #170F00;
        font-size: 23.39px;
        font-size: 24px;
        padding: 25px 0 63.31px 0;
        line-height: 33.414px;
        letter-spacing: 0.167px;
    }
}

@media screen and (max-width: 480px) {
    .Komnews-Home-Content-Card {
        width: 397px;
        height: 361.433px;
    }

    .Komnews-Home-Content-Card img {
        width: 358.55px;
        height: 197.06px;
    }

    .Komnews-Home-Content-Card h2 {
        font-size: 13.458px;
        line-height: 19.225px;
        letter-spacing: 0.096px;
        padding: 14px 0 63.31px 0;
    }
}