.topic{
    display: flex;
    border-left: #000000 solid 2px;
    height: 242px;
    width: 758px;
    margin-bottom: 20px;
    flex-direction: row;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
}

.topic:hover {
    background: #E49800;
}

.topic-desc > h1 {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    max-width: 500px;
}

.topic-desc > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    max-width: 500px;
    margin: 10px 0px;
}

.topic-category {
    display: flex;
    border: #000000 solid 2px;
    width: 150px;
    justify-content: center;
    padding: 5px;
    background: #F0E4D4;
    box-shadow: 3px 4px 0px #000000;
}

.topic-category > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.news_img {
    object-fit: cover;
}