.eksternal-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 737px;
    background-image: url("./../../../../Assets/Divisi/Eksternal/Eksternal_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    margin-top: 13px
}

.eksternal-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
}

.eksternal-desc {
    flex: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eksternal-desc h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    margin: 0 0 29px 0;
    text-shadow: 7px 4px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.eksternal-desc p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    width: 75%;
}
.eksternal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 0 0;
}

.eksternal-header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    padding-bottom: 14px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.eksternal-header img{
    padding: 0 0 76px 0;
}

.eksternal-staff{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    justify-items: center;
    gap: 80px 120px;
    padding: 76px 116px 160px 106px;
}

.anggota-eksternal:first-child{
    grid-column: span 3;
}

.anggota-eksternal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anggota-eksternal h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    width: 433px;
}

@media(max-width: 1024px) {
    .eksternal-container {
        height: 100vh;
    }

    .desc-eksternal h2 {
        font-size: 42px;
        text-shadow: 4px 3px 0px #040404;
    }

    .eksternal-staff {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .anggota-eksternal img {
        height: 380px;
    }

    .anggota-eksternal:first-child {
        grid-column: span 2;
    }

    .anggota-eksternal:last-child {
        grid-column: span 2;
    }
}

@media(max-width: 768px) {

    .eksternal-container {
        background-image: url("../../../../Assets/Divisi/Ristek/Ristek Mobile Bg.svg");
        background-size: cover;
        height: calc(60rem);
    }

    .eksternal-desc {
        flex: auto;
        align-items: center;
        transform: translateY(10rem);
    }

    .eksternal-logo{
        display: none;
    }

    .eksternal-desc h2 {
        display: none;
    }

    .eksternal-desc p {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }

    .eksternal-staff {
        gap: 40px 10px;
    }

    .anggota-eksternal img {
        height: calc(300.75px);
    }
}