#IG-header-container {
    background-image: url('../../Assets/Background/IGallery_bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: calc(100vh);
    margin-top: .8rem;
    justify-content: center;
}

.IG-header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

.IG-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 377px;
    height: 208px;
}

.IG-header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.IG-header p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.IG-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.IG-main > h1{
    font-family: 'Sports World';
    font-style: normal;
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    margin-bottom: 24px;
}

.IG-main-button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.IG-list{
    display: flex;
    border: #000000 solid 2px;
    width:auto;
    justify-content: center;
    align-items: center;
    padding: 9px;
    background:#E49800;
    box-shadow: 3px 4px 0px #000000;
    margin: 3px;
}

.IG-list:active {
    transform: translateY(2px);
    transform: translateX(3px);
    box-shadow: 1px 1px 0px #000000;
}

.IG-list > span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}