#CP-header-container {
    background-image: url('../../../Assets/Ilkommunity/CP/bg-cp.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: calc(100vh);
    margin-top: .8rem;
    justify-content: center;
}

.CP-header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
}

.CP-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 377px;
    height: 208px;
}

.CP-header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.CP-header p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#CP-main-container {
    background-image: url('../../../Assets/Ilkommunity/IWDC/IWDC-Main-Pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0 0 0;
}

.CP-content-deskripsi-tujuan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.CP-content-deskripsi-tujuan #CP-deskripsi {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

#CP-deskripsi.CP-active {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    border-bottom: 4px solid black;
    cursor: pointer;
    padding-bottom: 4px;
}

#CP-tujuan {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

#CP-tujuan.CP-active {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-shadow: 4px 5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    border-bottom: 4px solid black;
    cursor: pointer;
    padding-bottom: 4px;
}

.CP-content-deskripsi-tujuan {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6B7280;
    cursor: pointer;
    text-align: center;
}

.CP-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CP-deskripsi-content {
    width: 1057px;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9AD33;
    border: 4px solid #16052B;
    box-shadow: 7px 7px 0px #000000;
    margin: 32px 0 0 0;
    padding: 40px 40px 40px 44px;
    margin-left: auto;
    margin-right: auto;
}


.CP-deskripsi-content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.CP-tujuan-content {
    width: 1055px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E9AD33;
    border: 4px solid #16052B;
    box-shadow: 7px 7px 0px #000000;
    margin: 32px 32px 0 32px;
    padding: 40px 44px 40px 44px;
    list-style-type: none;
}

.CP-tujuan-content h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.CP-prestasi-container {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CP-prestasi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    width: 1060px;
    height: 100%;
    border: 3px solid #16052B;
    box-shadow: 3px 4px 0px #000000;
    background-color: #FFFFFF;
    flex-direction: column;
    padding: 45px 45px 45px 45px;
}

.CP-prestasi-content li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.CP-prestasi-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 52px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 4px 4px 0px #000000;
    transform: translateY(25px);
}

.CP-prestasi-header h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.CP-narahubung-container {
    padding: 80px 0 160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.CP-narahubung-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    width: 1060px;
    height: 174px;
    border: 3px solid #16052B;
    box-shadow: 3px 4px 0px #000000;
    background-color: #FFFFFF;

}

.CP-narahubung-content h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.CP-narahubung-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 52px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 4px 4px 0px #000000;
    transform: translateY(25px);
}

.CP-narahubung-header h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

@media(max-width: 1024px) {

    .CP-header {
        width: auto;
        height: auto;
    }

    .CP-header p {
        font-size: large;
        width: 401px;
    }

    .CP-deskripsi-content {
        width: 800px;
        height: 224px;
    }

    .CP-tujuan-content {
        width: 800px;
        height: 152px;
    }

    .CP-prestasi-content{
        width: 800px;
        height: 230px;
    }

    .CP-narahubung-content{
        width: 800px;
        height: 190px;
    }
}

@media(max-width: 768px) {
    #CP-header-container {
        background-image: url("../../../Assets/Ilkommunity/CP/bg-mobile-cp.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        height: calc(60rem);
        border: 2px solid #111827;
    }


    .CP-header-wrapper {
        grid-template-columns: none;
        transform: translateY(11rem);
    }


    .CP-deskripsi-content {
        width: 400px;
        height: 344px;
    }

    .CP-tujuan-content {
        width: 394px;
        height: 200px;
    }

    .CP-prestasi-content{
        width: 400px;
        height: 250px;
    }

    .CP-narahubung-content{
        width: 400px;
        height: 190px;
    }
}