.headerrr {
    text-align: center;
  }
  
  .carousel-containerrr {
    margin: 20px;
  }
  
  .selected-imageee {
    width: 100%;
    height: 500px;
    margin-bottom: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .carousellll {
    position: relative;
  }
  
  .carousel__imagesss {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .carousel__image-selecteddd {
    border: 3px solid #ffa700 !important;
  }
  
  .carousel__imageeee {
    margin-right: 10px;
    height: 150px;
    min-width: 150px;
    border: 3px solid #ffa70000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .carousel__buttonnnn {
    position: absolute;
    top: 40%;
  }
  
  .carousel__button-leftttt {
    left: 10px;
  }
  
  .carousel__button-rightttt {
    right: 10px;
  }
  