li {
    cursor: default;
}

.navbar {
    position: relative;
    font-family: Changa One;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E49800;
    border-bottom: 4px solid #040404;
    z-index: 99;
}

.navbar-heading {
    display: block;
    margin: 25px 80px 25px 80px;
}

.navbar-burger {
    display: none;
}

.burger {
    display: none;
}

.navbar-cross {
    display: none;
}

.navbar-list {
    margin: 25px 80px 25px 80px;
    display: flex;
    align-items: center;
    gap: 40px;

}

.navbar-list li {
    font-size: 18px;
    list-style: none;
    letter-spacing: 0.1px;
    width: max-content;
}

.navbar-list li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    letter-spacing: 0.1px;
}

.navbar-list li:hover a {
    font-family: 'Changa One';
    font-style: italic;
    font-weight: 350;
    font-size: 28px;
    line-height: 36px;
    color: #F0E4D4;
    text-shadow: 2.5px 1.5px 0px #040404;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #040404;
}

.navbar-list li:hover {
    font-family: 'Changa One';
    font-style: italic;
    font-weight: 350;
    font-size: 28px;
    line-height: 36px;
    color: #F0E4D4;
    text-shadow: 2.5px 1.5px 0px #040404;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #040404;
}

.sub-menu-1 {
    display: none;
    width: 330px;
    height: 110px;
}

.profil-dropdown:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #E49800;
    padding: 10px;
    border-bottom: 4px solid #111827;
}

.divisi-dropdown li {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    letter-spacing: 0.1px;
}

.sub-menu-1 li {
    padding: 0 0 22px 28px;
}

.sub-menu-2 {
    display: none;
}

.divisi-dropdown:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background-color: #E49800;
    padding: 10px;
    border-bottom: 4px solid #111827;
    width: 320px;
    height: 404px;
}

.sub-menu-2 li {
    padding: 0 0 22px 28px;
}

.mobile-navbar-container {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .navbar-list li a {
        font-size: 16px;
    }
}


@media(max-width: 992px) {
    .navbar-heading{
        margin-left: 40px;
    }

    #navcross {
        display: block;
    }

    .navbar-list {
        display: none;
    }

    .burger{
        display: block;
    }

    .navbar-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 40px 0 0;
    }

    .cross-active {
        display: flex;
        justify-content: space-between;
        padding: 25px 40px 25px 40px;
        border-bottom: 4px solid #040404;
    }

    #navcross {
        cursor: pointer;
    }

    .mobile-navbar-container {
        display: block;
        position: absolute;
        top: 3px;
        right: 0;
        background-color: #E49800;
        width: 583px;
        height: auto;
        border-bottom: 4px solid #040404;
        z-index: 99;
    }

    .mobile-navbar {
        min-height: 846px;
        padding: 3.19rem 2.47rem 0 2.47rem;
    }

    .mobile-navbar li {
        display: flex;
        padding: 1rem 0 1rem 0;
        list-style: none;
    }

    .mobile-navbar li a {
        font-family: Changa One;
        font-weight: 350;
        font-size: 2rem;
        line-height: 2.5rem;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        letter-spacing: 0.1px;
    }

    .mobile-navbar li a:hover {
        text-decoration: none;
        font-family: 'Changa One';
        font-style: italic;
        font-weight: 350;
        font-size: 28px;
        line-height: 36px;
        color: #F0E4D4;
        text-shadow: 2.5px 1.5px 0px #040404;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #040404;
        transition: 0.3s;
    }

    .mobile-icon-container {
        padding: 0 2.47rem 1.19rem 2.47rem
    }

    .mobile-icon {
        display: flex;
        gap: 2.5rem;
        padding-bottom: 1.5rem;
    }


    .mobile-copyright h2 {
        color: #111827;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 1.25rem;
        letter-spacing: 0.00625rem;
    }

    .mobile-navbar-dropdown{
        display: flex;
        flex-direction: column;
    }

    .mobile-navbar-dropdown p{
        display: flex;
        justify-content: space-between;
    } 

    .mobile-navbar .dropdown-divisi p{
        display: flex;

        flex-direction: row;
        width: 100%;
    }

    .dropdown-menusub-divisi{
        display: flex;
        flex-direction: row;
        background-color: pink;
    }

    .mobile-navbar .dropdown-menu{
        width: 90%;
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid var(--gray-10, #111827);
        padding: 24px 0px 24px 28px;
        align-self: flex-end;
    }

    .mobile-navbar .dropdown-divisi{
        width:100%;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    .mobile-navbar .dropdown-menu li{
       padding: 0;
    }

    .mobile-navbar .dropdown-menu a{
        font-size: 14px;
        line-height: 20px;
    }

    .mobile-navbar .dropdown-menu li a:hover {
        font-size: 14px;
        line-height: 20px;
        color: #F0E4D4;
        text-shadow: 2.5px 1.5px 0px #040404;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #040404;
        transition: 0.3s;
    }

    .mobile-navbar .dropdown-menu-divisi{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 90%;
        padding: 24px 0px 24px 28px;
        border-bottom: 4px solid var(--gray-10, #111827);
    }

    .mobile-navbar .dropdown-menu-divisi li{
        margin-bottom: 16px;
    }

    
    .mobile-navbar .dropdown-menu-komun li{
        margin-bottom: 16px;
    }
}


@media(max-width: 480px){
        .mobile-navbar li a {
        font-family: Changa One;
        font-weight: 350;
        font-size: 2rem;
        line-height: 2.5rem;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        letter-spacing: 0.1px;
    }

        .mobile-navbar-container {
            width: 397px ;
        }


}