.Dokumentasi-carousel{
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 54px 0;
    gap: 20px;
}

.Dokumentasi-container {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Dokumentasi-content {
    width: 1057px;
    height: 704px;
    background: #453755;
    border: 3px solid #1F2937;
    box-shadow: 7px 7px 0px #1F2937;
}

.Dokumentasi-content h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.Dokumentasi-head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 56px 0 48px 0;

}

.arrow-left {
    padding-right: 64px;
    cursor: pointer;
}

.arrow-right {
    padding-left: 64px;
    cursor: pointer;
}

.IWDC-main-pic {
    width: 696px;
    height: 342px;
    border: 3px solid #16052B;
    box-shadow: 9px 10px 0px #16052B;
}

.Dokumentasi-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 231px;
    height: 52px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 4px 4px 0px #000000;
    transform: translateY(25px);
}

.Dokumentasi-header h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
