.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    background-image: url(./../../Assets/Background/bghimal.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 5px;
    border-top: 4px solid;
}

.hero>h1 {
    /* yang sport world gk bisa, harus fetch fontnya kah? */
    font-family: "Sports World";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 64px;
    letter-spacing: -0.25px;
    color: #F0E4D4;
    text-shadow: 4.5px 2.5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    transition: 0.2s;
}

.hero>h3 {
    margin-top: 7px;
    font-family: 'Changa One';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    text-shadow: 1.5px 2.7px 1px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    display: flex;
    align-items: center;
    text-align: center;
    /* Cream/06 */
    color: #F0E4D4;
    transition: 0.2s;
}

.hero>p {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    color: #F0E4D4;
    text-shadow: 2px 2.5px 0px #040404;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #040404;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.2s;


}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40.5px 40px;
    margin-top: 80px;
}

.hero-image {
    width: 400px;
    height: 200px;
    transition: 0.2s;
}

.hero-image:hover {
    width: 440px;
    height: 220px;
}

.hero>h3:hover {
    font-weight: 440;
    font-size: 34px;
}

.hero>p:hover {
    font-weight: 520;
    font-size: 31px;
}

.hero>h1:hover {
    font-weight: 480;
    font-size: 96px;
}

.header {
    display: flex;
    justify-content: center;
}

.header h2 {
    font-size: 32px;
    margin: 0 0 48px 0;
}

.header {
    font-family: Changa One;
    font-weight: normal;
    font-size: 36px;
}

.ilkommunity-bg {
    background-image: url(./../../Assets/Background/bgilkomunity.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 110vh;
}

.header .ilkommunity-header {
    margin-top: 100px;
    margin-bottom: 100px;

    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F0E4D4;
}

.ilkommunity {
    display: grid;
    margin: 0 81px 64px 81px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 48px;
    justify-items: center;
}

.ilkommunity li {
    list-style: none;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 29px;

}

.ilkommunity-agriux {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-agriux li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}


.ilkommunity-agriux:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-agriux img {
    margin-top: 35px;
    border: 2px solid;
    border-radius: 122px;
    width: 122px;
    height: 122px;
}

.ilkommunity-csi {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-csi:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-csi img {
    margin-top: 35px;
    border-radius: 122px;
    border: 2px solid;
    width: 122px;
    height: 122px;
}

.ilkommunity-csi li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}


.ilkommunity-agribot {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-agribot:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-agribot img {
    margin-top: 35px;
    border-radius: 122px;
    border: 2px solid;
    width: 122px;
    height: 122px;
}


.ilkommunity-agribot li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}

.ilkommunity-cp {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-cp:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-cp img {
    margin-top: 35px;
    border: 2px solid;
    border-radius: 122px;
    width: 122px;
    height: 122px;
}

.ilkommunity-cp li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}

.ilkommunity-daming {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-daming li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}

.ilkommunity-daming:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-daming img {
    margin-top: 35px;
    border: 2px solid;
    border-radius: 122px;
    width: 122px;
    height: 122px;
}

.ilkommunity-iwdc {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-iwdc li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}

.ilkommunity-iwdc:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-iwdc img {
    margin-top: 35px;
    width: 122px;
    border: 2px solid;
    border-radius: 122px;
    height: 122px;
}

.ilkommunity-gary {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-gary:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-gary img {
    margin-top: 35px;
    border-radius: 122px;
    border: 2px solid;
    width: 122px;
    height: 122px;
}

.ilkommunity-gary li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}

.ilkommunity-mad {
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 304px;
    height: 253px;
    justify-items: center;
    transition: 0.3s;
}

.ilkommunity-mad:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px);
    transform: translateX(-10px);
}

.ilkommunity-mad img {
    border: 2px solid;
    border-radius: 122px;
    margin-top: 35px;
    width: 122px;
    height: 122px;
}

.ilkommunity-mad li {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;

    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
}

.header h3 {
    font-size: 32px;
    margin: 0 0 48px 0;
}



/* Proker CSS */
.megaproker .container {
    background-image: url(./../../Assets/Background/bgproker.svg);
    background-size: cover;
    background-position: center bottom;
    height: 1160px;
    border: 5px solid black;
    width: 100%;
}

.header .proker-header {
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F0E4D4;
}

/* Proker Proker Himalkom */
.proker-container {
    display: flex;
    flex-direction: column;
    padding: 0 80.25px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.proker{
    border: 2px solid rgb(160, 44, 44);
    display: flex;
    /* margin: 0 80.5px 0 80.5px; */
    width: 90%;
}

.proker--info,
.proker--logo--container {
    height: 100%;
    flex: 75%;
    align-self: center;
}


.proker--info,
.proker--logo--container {
 z-index: 2;
}
.proker--logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.proker--info .judul {
    margin-top:66px;
    margin-bottom: 0px;
    font-family: "Sports World";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 64px;
    color: #f0e4d4;
    text-shadow: 3px 2px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    
}

.proker--info .desc {
    border: 1px solid black;
    width: 75%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #111827;
    margin-top: 10px;
}

.bgproker1{
    z-index: 1;
    position: absolute;
    margin-top: 50px;
    width: 89.5%;
}
.proker1 {
    margin-top: 50px;
    /* background-image: url(./../../Assets/Background/cardproker1.svg); */
    background-size: cover;
    background-position: center top;
    height: 542px;
    width: 100%;
}

.proker1 .proker--logo--container .proker--logo {
    margin-top: 112px;
}

.bgproker2{
    z-index: 1;
    position: absolute;
    margin-top: 490px;
    width: 89.5%;
}

.proker2{
    background-size: cover;
    background-position: center top;
    height: 450px;
    width: 100%;
}

.proker2 {
    flex-direction: row-reverse;
}

.proker2 .proker--info {
    margin-left: 10%;
}
.proker2 .proker .proker--info .judul {
    margin-top: 105px;
}

.proker--info .button {
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    padding: 8px 14px 8px 16px;
    width: 156px;
    height: 36px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 3px 4px 0px #000000;
    color: white;
}

.proker--info>button:active {
    transform: translateY(2px);
    transform: translateX(3px);
    box-shadow: 1px 1px 0px #000000;
}