.hero-home-slide1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./../../Assets/Background/bghimal-home.png);
    background-size: 100% 100%;
    height: 738px;
    margin-top: 12px;
    position: relative;
}

.hero-home-slide1 h1 {
    font-family: "Sports World";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 64px;
    letter-spacing: -0.25px;
    color: #F0E4D4;
    text-shadow: 4.5px 2.5px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    transition: 0.2s;
}

.hero-home-slide1 h3 {
    margin-top: 7px;
    font-family: 'Changa One';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-shadow: 1.5px 2.7px 1px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F0E4D4;
    transition: 0.2s;
}

.hero-home-slide1 p {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #F0E4D4;
    text-shadow: 2px 2.5px 0px #040404;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #040404;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

.hero-home-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40.5px 40px;
    margin-top: 80px;
}

.hero-home-logo-connect {
    width: 400px;
    height: 200px;
    transition: 0.2s;
}

.hero-home-logo-connect:hover {
    width: 440px;
    height: 220px;
}

.hero-home-slide1 h1:hover {
    font-weight: 480;
    font-size: 96px;
}

.hero-home-slide1 h3:hover {
    font-weight: 440;
    font-size: 34px;
}

.hero-home-slide1 p:hover {
    font-weight: 520;
    font-size: 31px;
}


.hero-home-slider{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    bottom: 50px;
}

.hero-home-slider button img{
    width: 12px;
    height: auto;
}

/* Slide 2 */
.hero-home-slide2 > .slider2{
    bottom: 50px;
}

.hero-home-slide2{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    background-image: url(./../../Assets/Background/bghimal-home2.png);
    /* background-image: url(./../../Assets/Background/bghimal-home2-ver2.png); */
    background-size: 100% 100%;
    height: 711px;
    margin-top: 12px;
}

.hero-home-slide2 .hero-home-logo-container{
    padding: 0;
    margin-top: 9.66rem;
    margin-bottom: 2.22rem;
}

.hero-home-slide2 h1{
    font-family: "Sports World";
    font-style: normal;
    font-weight: 400;
    font-size: 85.648px;
    line-height: 64px;
    letter-spacing: 5px;
    color: #FFF;
    text-shadow: 7px 7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    /* -webkit-text-stroke-color: #040404; */
    transition: 0.2s;
}

.hero-home-slide2 h3{
    margin-top: 21px;
    font-family: 'Changa One';
    font-style: italic;
    font-weight: 400;
    font-size: 2.00738rem;
    line-height: 40px;
    text-shadow: 3px 3.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    /* -webkit-text-stroke-color: #040404; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF;
    transition: 0.2s;
}

.home-slide2-kahim{
    position: absolute;
    bottom: 0;
    left: 2px;
    /* width: 100%; */
    /* max-width:552.25px ;
    max-height:656.68px ; */
    /* max-width: 100%; */
    /* height: auto; */
}

.home-slide2-wakahim{
    position: absolute;
    bottom: 0;
    right: 2px;
}

/* Animation on text */
.hero-home-slide2 h1:hover {
    font-weight: 480;
    font-size: 96px;
}

.hero-home-slide2 h3:hover {
    font-weight: 440;
    font-size: 34px;
}

.hero-home-slide1{
    display: none;
}

/* Css for the usetate */
.active-slide {
    display: flex;
}

#homepage button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Ilkomunity section */
#ilkomunity-homepage {
    width: 100%;
    height: fit-content;
    background-image: url(./../../Assets/Background/bgilkomunity.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#ilkomunity-homepage .header {
    display: flex;
    justify-content: center;
}

#ilkomunity-homepage .header h2 {
    font-family: Changa One;
    font-weight: normal;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 57px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F0E4D4;
}

#ilkomunity-homepage .ilkommunity {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 0 81px;
    gap: 45px;
    justify-items: center;
}
  
#ilkomunity-homepage .ilkommunity > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../Assets/Background/Ilkommunity\ Card\ Desktop.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    transition: 0.3s;

    width: 304px; 
    height: 253px; 
}
  
#ilkomunity-homepage .ilkommunity > div:hover {
    box-shadow: 10px 10px 0px #000000;
    transform: translateY(-10px) translateX(-10px);
}
  
#ilkomunity-homepage .ilkommunity > div img {
    margin-top: 35px;
    border: 2px solid;
    border-radius: 122px;
    width: 122px;
    height: 122px;
}
  
#ilkomunity-homepage .ilkommunity > div p {
    list-style: none;
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #FFFFFF;
    margin-top: 27px;
}
  
/* Proker CSS */
.megaproker .container {
    background-image: url(./../../Assets/Background/bgproker.svg);
    background-size: cover;
    background-position: center bottom;
    height: 1160px;
    border: 5px solid black;
    width: 100%;
    display: block;
}

.header .proker-header {
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F0E4D4;
}

/* Proker Proker Himalkom */
.proker-container {
    display: flex;
    flex-direction: column;
    padding: 0 80.25px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.proker {
    /* border: 2px solid rgb(160, 44, 44); */
    display: flex;
    /* margin: 0 80.5px 0 80.5px; */
    width: 90%;
}

.proker--info,
.proker--logo--container {
    height: 100%;
    flex: 75%;
    align-self: center;
}

.proker--info,
.proker--logo--container {
    z-index: 2;
}

.proker--logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.proker--info .judul {
    margin-top: 66px;
    margin-bottom: 0px;
    font-family: "Sports World";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 64px;
    color: #f0e4d4;
    text-shadow: 3px 2px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;

}

.proker--info .desc {
    border: 1px solid black;
    width: 75%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #111827;
    margin-top: 10px;
}

.bgproker1 {
    z-index: 1;
    position: absolute;
    margin-top: 50px;
    width: 89.5%;
}

.proker1 {
    margin-top: 50px;
    background-size: cover;
    background-position: center top;
    height: 542px;
    width: 100%;
}

.proker1 .proker--logo--container .proker--logo {
    margin-top: 112px;
}

.bgproker2 {
    z-index: 1;
    position: absolute;
    margin-top: 490px;
    width: 89.5%;
}

.proker2 {
    background-size: cover;
    background-position: center top;
    height: 450px;
    width: 100%;
}

.proker2 {
    flex-direction: row-reverse;
}

.proker2 .proker--info {
    margin-left: 10%;
}

.proker2 .proker .proker--info .judul {
    margin-top: 105px;
}

.proker--info .button {
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    padding: 8px 14px 8px 16px;
    width: 156px;
    height: 36px;
    background: #E49800;
    border: 1px solid #111827;
    box-shadow: 3px 4px 0px #000000;
    color: white;
}

.proker--info>button:active {
    transform: translateY(2px);
    transform: translateX(3px);
    box-shadow: 1px 1px 0px #000000;
}

#Komnews-Home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 5rem 0;
}

.Komnews-Home-Header h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 64px;
    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
}

.Komnews-Home-Content-Container {
    display: flex;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}

.Komnews-Home-Content-Card {
    display: flex;
    justify-content: center;
    background-image: url("../../Assets/Background/Komnews-Home-Card.svg");
    background-color: #E49800;
    width: 413px;
    height: auto;
    padding-top: 1.2rem;
    border: 2px solid #111827;
}


.Komnews-Home-Content img {
    width: 380px;
    border: 2px solid #040404;
    box-shadow: 3px 3px 0px #040404;
}

.Komnews-Home-Content h2 {
    font-family: 'Sports World';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-shadow: 1.5px 2.7px 0px #040404;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #040404;
    color: #F0E4D4;
    padding-top: 1rem;
}

.Komnews-Home-Content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 2rem 0 2rem 0;
}

@media(max-width: 1024px){
    .Komnews-Home-Content-Container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #ilkomunity-homepage .ilkommunity {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 32px;
        margin: 0 40px;
    }

    #ilkomunity-homepage .ilkommunity>div {
        width: 192px;
        height: 160px;
    }

    #ilkomunity-homepage .ilkommunity>div:hover {
        box-shadow: 7px 7px 0px #000000;
        transform: translateY(-7px) translateX(-7px);
    }

    #ilkomunity-homepage .ilkommunity>div img {
        margin-top: 35px;
        border: 2px solid;
        border-radius: 122px;
        width: 77.15px;
        height: 77.15px;
    }

    #ilkomunity-homepage .ilkommunity>div p {
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        text-shadow: 0.2px 1.5px 0px #040404;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #040404;
        color: #FFFFFF;
        margin-top: 2px;
    }
}

@media(max-width: 768px){
    #ilkomunity-homepage {
        background: none;
    }
    
    #ilkomunity-homepage .header .ilkommunity-header {
        margin-top: 115px;
        margin-bottom: 34px;
    }


    #ilkomunity-homepage .header .ilkommunity-header {
        margin-bottom: 36px;
    }

    #ilkomunity-homepage .ilkommunity {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin: 0 40px;
        gap: 32px;
    }

    #ilkomunity-homepage .ilkommunity>div {
        width: 192px;
        height: 160px;
    }

    #ilkomunity-homepage .ilkommunity>div:hover {
        box-shadow: 7px 7px 0px #000000;
        transform: translateY(-7px) translateX(-7px);
    }

    #ilkomunity-homepage .ilkommunity>div img {
        margin-top: 35px;
        border: 2px solid;
        border-radius: 122px;
        width: 77.15px;
        height: 77.15px;
    }

    #ilkomunity-homepage .ilkommunity>div p {
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        text-shadow: 0.2px 1.5px 0px #040404;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #040404;
        color: #FFFFFF;
        margin-top: 2px;
    }

}


@media (max-width: 640px) {
    #ilkomunity-homepage .header .ilkommunity-header {
        margin-bottom: 36px;
    }

    #ilkomunity-homepage .ilkommunity {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 40px;
        gap: 16px;
    }

    #ilkomunity-homepage .ilkommunity>div {
        width: 192px;
        height: 160px;
    }

    #ilkomunity-homepage .ilkommunity>div:hover {
        box-shadow: 7px 7px 0px #000000;
        transform: translateY(-7px) translateX(-7px);
    }

    #ilkomunity-homepage .ilkommunity>div img {
        margin-top: 34px;
        border: 2px solid;
        border-radius: 122px;
        width: 77.15px;
        height: 77.15px;
    }

    #ilkomunity-homepage .ilkommunity>div p {
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        text-shadow: 0.2px 1.5px 0px #040404;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #040404;
        color: #FFFFFF;
        margin-top: 2px;
    }


    .hero-home-slider{
        display: none;
    }

    .hero-home-slide1 {
        background-image: url(./../../Assets/Background/bghimal-home-mobile.png);
        height: 239.66px;
    }

    .hero-home-logo-container {
        padding: 40.5px 40px 13px 40px;
        margin-top: 0;
    }
    
    .hero-home-logo-connect {
        width: 133.518px;
        height: 69.763px;
        transition: 0.2s;
    }
    
    .hero-home-logo-connect:hover {
        width: 153.518px;
        height: auto;
    }

    .hero-home-slide1 h1 {
        font-size: 19.026px;
        line-height: 21.363px;
        letter-spacing: -0.083px;
        color: #F0E4D4;
        text-shadow: 2px 1px 0px #040404;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #040404;
    }

    .hero-home-slide1 h3 {
        text-shadow: 0.5px 1px 0.2px #040404;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #040404;
        font-size: 10.681px;
        line-height: 13.352px;
    }

    .hero-home-slide1 p{
        font-size: 8.011px;
        line-height: 10.681px;
        text-shadow: 1px 1.5px 0px #040404;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #040404;
        margin-top:12px;
    }

    .hero-home-slide1 h1:hover {
        font-size: 25px;
    }

    .hero-home-slide1 h3:hover {
        font-size: 15px;
    }
    
    .hero-home-slide1 p:hover {
        font-size: 12px;
    }
}



