.bg11, .bg22, .bg33, .bg44{
   display: none;
}

.megaproker-header{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center; 
   background-image: url("./../../../src/Assets/Background/megaprokerheader.svg");
   background-position: center center;
   min-height: 239px;
   border-top: 4px solid #111827;
   border-bottom: 4px solid #111827;
   margin: 13px 0px 0px 0px;
   background-size: cover;
   padding: 0 2em;
   margin-bottom: 0;
}

.megaproker-header h1{
   font-family: 'Sports World';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 28px;
   color: #F0E4D4;
   text-shadow: 4px 3px 0px #040404;
   -webkit-text-stroke-width: 1px; 
   -webkit-text-stroke-color: #040404;
}

.backgroundd{
   width: 100%;
   z-index: -1;
   position: absolute;
}

.megaproker-container{
   padding: 10px 0px;
   /* min-height: 4200px; */
   height: fit-content;
   width: 100%;
   font-size: 16px;
   /* background-color: rgb(255, 0, 230); */
}

.megaproker-proker{
   position: relative;
   /* background-color: aqua; */
}

.megaproker-proker{
   padding: 0.1rem  0.7rem 20px 0.7rem;
   padding-bottom: clamp(2.5rem, 1.25rem + 6.25vw, 3.125rem);
   box-sizing: border-box;
   width: 100%;
   height: fit-content;
}

.megaproker-title, .megaproker-content{
   position: relative;
   font-size: 16px;
}

.megaproker-title{
   padding: 1px 0;
   margin-top: clamp(0.9375rem, -0.0625rem + 5vw, 1.4375rem);
   margin-bottom: clamp(1.875rem, -0.5rem + 10vw, 2.5rem);
   z-index: 2;
}

/* Logo Container */
.logo-containerr{
   text-align: center;
   font-size: 16px;
   padding-top: 5%;
}

.logo-proker{
   margin: 0 auto;
   display: block;
   height: auto;  
   width: clamp(5.625rem, -5.8036rem + 57.143vw, 10.625rem);
}

.txt-containerr{
   z-index: 2;
}

.txt-containerr h2,  .txt-containerr p{
   text-align: center;
   padding: 0  0.7rem;
}

.txt-containerr h2{
   font-family: 'Sports World';
   font-style: normal;
   font-weight: 400;
   line-height: 1em;
   color: #F0E4D4;
   text-shadow: 2px 3px 0px #040404;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #040404;
   font-size: clamp(1em, 1.5vw, 1.5em);
   margin-top: clamp(0.3125rem, -1.0625rem + 6.875vw, 1rem);
}

.txt-containerr p{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: clamp(0.5em, 2vw, 0.75em);
   line-height: 1em;
   color: #111827;
   margin-top: clamp(0.3125rem, -0.5625rem + 4.375vw, 0.75rem);
}

.megaproker-content{
   font-size: 16px;
   z-index: 2;
}

.content-containerr{
   display: flex;
   flex-direction: column;
}

.content-containerr h3{
   margin: 0 auto;
   font-family: 'Changa One';
   font-style: normal;
   font-weight: 400;
   font-size: clamp(0.875rem, 0.4rem + 2vw, 1rem);
}

.proker2 .logo-containerr{
   padding-top:0.5% ;
}

/* Buttton CSS */
.megaproker-container .button {
   margin-top: 20px;
   box-sizing: border-box;
   font-family: 'Montserrat';
   padding: 8px 14px 8px 16px;
   width: 156px;
   height: 36px;
   background: #E49800;
   border: 1px solid #111827;
   box-shadow: 3px 4px 0px #000000;
   color: white;

   display: block;
   margin: 0 auto;
}

.megaproker-container   button:active {
   transform: translateY(2px);
   transform: translateX(3px);
   box-shadow: 1px 1px 0px #000000;
}

.content-containerr .rangkaian-acara{
   margin-top: clamp(2.875rem, 0.0178rem + 14.286vw, 4.125rem);
   margin-bottom: clamp(0.8125rem, 0.5625rem + 1.25vw, 0.9375rem);
}

.content-containerr .dokumentasi{
   margin-top: clamp(0.875rem, -0.6964rem + 7.857vw, 1.5625rem);
   margin-bottom: clamp(0.5625rem, 0.0625rem + 2.5vw, 0.8125rem);
}

.content-containerr .button{
   font-weight: 700;
   font-size: 12px;
   margin-top: clamp(1.6875rem, 1.3125rem + 1.875vw, 1.875rem);
   box-sizing: border-box;
   font-family: 'Montserrat';
   padding: 0.5em 0.875em 0.5em 1em; /* equals 8px 14px 8px 16px / 16px = 0.5em 0.875em 0.5em 1em */
   width: 9.75em; /* equals 156px / 16px = 9.75em */
   height: 2.25em; /* equals 36px / 16px = 2.25em */
   background: #E49800;
   border: 0.0625em solid #111827; /* equals 1px / 16px = 0.0625em */
   box-shadow: 0.1875em 0.25em 0px #000000; /* equals 3px 4px 0px #000000 / 16px = 0.1875em 0.25em 0px */
   color: white;
}

.dokumentasi-video{
   padding: 82px 0 0 0;
   padding-top: clamp(7.5rem, -1.7858rem + 46.429vw, 11.5625rem);
   /* padding: 0; */
   width: 100%;
}

.carousel{
   padding-top: clamp(4.6875rem, -6.7411rem + 57.143vw, 9.6875rem);
   width: 100%;
}


.proker2 {
   margin-top: clamp(3.125rem, 1.6964rem + 7.143vw, 3.75rem);
}

.proker2 .megaproker-title p{
   margin-left: auto;
   margin-right: 14%;
   text-align: right;
   width: 70%;
}

.proker2 .button-proker{
   margin-top: clamp(3.4375rem, 2.0625rem + 6.875vw, 4.125rem);
}

 .button-etc .button{
   font-size: 16px;
   box-sizing: border-box;
   font-weight: 700;
   font-family: 'Montserrat';
   padding: 0.5em 0.875em 0.5em 1em; /* equals 8px 14px 8px 16px / 16px = 0.5em 0.875em 0.5em 1em */
   width: 9.75em; /* equals 156px / 16px = 9.75em */
   height: 2.25em; /* equals 36px / 16px = 2.25em */
   background: #E49800;
   border: 0.0625em solid #111827; /* equals 1px / 16px = 0.0625em */
   box-shadow: 0.1875em 0.25em 0px #000000; /* equals 3px 4px 0px #000000 / 16px = 0.1875em 0.25em 0px */
   color: white;
   margin-bottom: 30%;
}

.Megaproker-Contact-Container {
   position: relative;
   display: flex;
   justify-content: center;
}

.Megaproker-Contact-Wrapper {
   position: absolute;
   /* z-index: 10; */
   transform: translateY(-50%);
   background-color: white;
   width: 855px;
   height: 164px;
   border: 3px solid #000000;
   box-shadow: 3px 4px 0px #000000;
}

#Megaproker-Contact-Header {
   padding: 20px 0 0 20px;
}

#Megaproker-Contact-Header h2 {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 20px;
}

#Megaproker-Contact-Person {
   padding: 42px 0 0 20px;
}

#Megaproker-Contact-Person p{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   text-align: justify;
}

@media screen and (min-width: 481px) {
   .bg1, .bg2, .bg3, .bg4{
      display: none;
   }
   .megaproker-header{
      display: none;
   }

   .bg11, .bg22, .bg33, .bg44{
      display: block;
   }

   .megaproker-container{
      z-index: -1;
      background-repeat: no-repeat;
      background-image: url('./../../Assets/Background/pattern-top.svg'), url('./../../Assets/Background/pattern-bottom.svg');
      background-position: top left, bottom right;
      background-size: contain;
   }

   .megaproker-proker .megaproker-title{
      margin-top: clamp(5.625rem, -1.62878rem + 24.129vw, 22.5rem);
      margin-bottom: clamp(3.125rem, -1.71085rem + 16.086vw, 14.375rem); /* 50 - 230 px*/
      margin-bottom: 35px;
   }

   .content-containerr h3{
      font-size: clamp(1.25rem, 0.82011rem + 1.43vw, 2.25rem);
      font-size: clamp(0.625rem, -0.07365rem + 2.324vw, 2.25rem);
   }

   .content-containerr .rangkaian-acara{
      margin-top: clamp(2.875rem, 0.0178rem + 14.286vw, 4.125rem);
      margin-top: clamp(5.625rem, 4.17418rem + 4.826vw, 9rem);
      margin-top: clamp(2.5rem, -0.29401rem + 9.294vw, 9rem);
      margin-bottom: clamp(0.8125rem, 0.5625rem + 1.25vw, 0.9375rem);
   }

   .megaproker-title{
      display: flex;
   }

   .proker2 .megaproker-title{
      flex-direction: row-reverse;
   }
  
   .logo-containerr{
      height: auto;
      display: flex;
      flex-direction: column;
   }

   .logo-containerr img{
      margin: auto 0;
      width: clamp(5rem, -5.8483rem + 36.161vw, 30.3125rem);/*485*/
   }

   .proker1  .logo-containerr{ margin-left:3% ;}
   .proker2 .logo-containerr{ margin-right: 5%; }

   .txt-containerr{
      flex: 50%;
      margin: auto 0;
      margin-top: clamp(1.25rem, -2.08123rem + 11.081vw, 9rem);
   }

   .proker2 .txt-containerr{ margin-left: 5%; }

   .txt-containerr  h2{
      display: block;
      text-align: left;
   } 

   .txt-containerr  p{
      display: block;
      text-align: left;
   }

   .proker2 .txt-containerr p{
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      width: 75%;
   }

   .proker1 .txt-containerr {
      margin-left: 7%;
   }

   .txt-containerr p{
      font-size: clamp(0.5rem, 0.3442rem + 0.656vw, 1rem);
   }
    
   .megaproker-proker{
      padding: 0  2rem;
      padding-right: clamp(1rem, -0.71927rem + 5.719vw, 5rem);
      padding-left: clamp(1rem, -0.71927rem + 5.719vw, 5rem);
   }

   .megaproker-title{
      font-size: 32px;
   }

   .proker2{
      margin-top: clamp(1.25rem, -3.04834rem + 14.298vw, 11.25rem);
   }

   .carousel{
      padding: 82px 0 0 0;
      padding-top: clamp(3.125rem, -4.12878rem + 24.129vw, 20rem);/* 320*/
      padding: 0;
   }

   .content-containerr .dokumentasi{
      margin-top: clamp(1.25rem, -1.70514rem + 9.83vw, 8.125rem);
   }

   .dokumentasi-video{
      padding-top: clamp(9.375rem, 4.59296rem + 15.907vw, 20.5rem);
      padding: 0;
   }

   .content-containerr .button{ 
      margin-top: 100px;
      font-size: clamp(0.75rem, 0.63315rem + 0.492vw, 1.125rem);/*18px*/}
   .megaproker-proker .button-etc .button{font-size: clamp(0.875rem, 0.75815rem + 0.492vw, 1.25rem);/*20px*/}

   .button-etc {
      margin-top: 340px;
      margin-top: clamp(3.125rem, -4.12878rem + 24.129vw, 20rem);
      padding-bottom: 120px;
   }
   .button-etc .button{margin-bottom: 0;}

   .megaproker-content .carousel{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   .megaproker-content .carousel .box img{
      margin: 0 21.5px;
      width: 329.93px;
      height: 188.5px;
      transition: 0.3s;
      object-fit: cover;
      border: 2px solid black;
   }

   .megaproker-content .carousel .box:hover img{
      box-shadow: 10px 10px 0px #000000;
      transform: translateY(-10px);
      transform: translateX(-10px);
      width: 441.53px;
      height: 257.81px;
   }

   .dokumentasi-video {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   .dokumentasi-video .box img{
      width: 638px;
      height: 307.71px;
      border: 2px solid black;
      box-shadow: 10px 10px 0px #000000;
   }

}
